.App {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin: 0;
}
.header{
  text-align: center;
  background-color: #172B55;
  color: white;
  padding: 14px;
  width: 100%;
}
.compa{
  background-color: aqua;
  padding: 5px;
  margin: 8px;
}
.compb{
  background-color: rgb(116, 78, 219);
  padding: 5px;
  margin: 8px;
}
.compc{
  background-color: rgb(27, 222, 53);
  padding: 5px;
  margin: 8px;
}