.App {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  background-color: #0652DD;
  color: white;
  padding: 14px;
  width: 100%;
}


.data{
  border: 2px solid rgb(196, 114, 114);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.data1{
  border: 2px solid blue;
  background-color: aqua;
}
.data2{
  border: 2px solid rgb(0, 255, 30);
  background-color: greenyellow;

}
.data3{
  border: 2px solid rgb(255, 0, 76);
  background-color: rgb(255, 106, 51);

}
